<h2>Testing Info</h2>
<div class = "section-child test-info-child">
    <div id = "test-code">Test Code: <%= testCode %></div>
</div>
<div class = "section-child test-info-child">
    <div id = "test-time-display">Test Time: <%= `${piTest.start_time} - ${piTest.end_time} ${piTest.test_date} ` %></div>
</div>