<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    
    <link rel="stylesheet" href="/css/mainUser.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cheat.css">
    
    
    
</head>
<body>
    <header class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                
                    <a href="/api/v1/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="../../main/main.html#what_is_pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a> </li>
                        <li><a href="">
                                <p class="underline-text-small">y</p>
                            </a></li>
                        <li><a class="bottom_li" href="">
                                <p class="underline-text-small">Z</p>
                            </a></li>

                    </ul>
                </li>
                <li><a href="/api/v1/instruction">
                        <p class="underline-text-small">Quiz</p>
                    </a>
                </li>

            </ul>

        </nav>

       

    </header>

    <main  class="bg layer">
        <h1 class = "cheat-message">You have been suspended!</h1>
        
      
    </main>
    <footer class="footer">

        <p>Made by BVIS students</p>
    
    </footer>
</body>

</html>