<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="/css/instruction.css">
    <link rel="stylesheet" href="/css/mainAdmin.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                    <!-- the only <li> with a class to move the content across
                the div without moving both <li> which will create gap -->
                    <a href="/api/v1/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="../../main/main.html#what_is_pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a> </li>
                        <li><a href="">
                                <p class="underline-text-small">y</p>
                            </a></li>
                        <li><a class="bottom_li" href="">
                                <p class="underline-text-small">Z</p>
                            </a></li>

                    </ul>
                </li>
                <li><a href="/api/v1/test">
                        <p class="underline-text-small">Quiz</p>
                    </a>
                </li>

            </ul>

        </nav>

       

    </header>




    <div class="bg layer"></div> 


    <div class="parent_container">

        <div class="container">
        <p class="title_1">Instructions</p>
        <ul>
            <li>You've got [PLACEHOLDER] minutes for this quiz—tick tock!</li>
            <li>Stick to one tab, no browser-hopping (we've got eyes everywhere...).</li>
            <li>Cheating's a no-go (why would you even cheat??)</li>
            <li>Everything you do on the browser will be recorded and be send straight to your teachers to be examine and review (keep it clean, no cheating!).</li>
            <li>Press the button below to start the quiz</li>
            <li>After you submitted your answer, wait for further instructions from your teacher</li>
            <li>Just have fun! (you're just reciting pi numbers, not taking an A-level exam)</li>
        </ul>
        
        <form action="../test/test.html">
            <button class="start_quiz" type="submit">Start</button>
        </form>




        </div>

    </div>










    <div class="footer">

        <p>Made by BVIS students</p>

    </div>
    
</body>
</html>