<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/leaderbord.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                    <!-- the only <li> with a class to move the content across
                the div without moving both <li> which will create gap -->
                    <a href="/api/v1/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="../../main/main.html#what_is_pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a> </li>
                        <li><a href="">
                                <p class="underline-text-small">y</p>
                            </a></li>
                        <li><a class="bottom_li" href="">
                                <p class="underline-text-small">Z</p>
                            </a></li>

                    </ul>
                </li>
                <li><a href="/api/v1/leaderboard">
                        <p class="underline-text-small">Leaderboard</p>
                    </a>
                </li>
            </ul>
            <!-- user cf means user confirmation -->
            
            <p class="user_cf">ADMIN</p>

        </nav>

       

    </div>
    

    <div class="bg layer"></div>

    <div class="container">
        <section class="table_header">
            <p class="title_1">Student leaderboard</p>
        </section>

        <section>
            <table>

                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>No. of Pi correct </th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                </tr>
            
                <tr>

                    <td>2</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>


                <tr>

                    <td>3</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>


                <tr>

                    <td>5</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>


                <tr>

                    <td>6</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>


                <tr>

                    <td>7</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>

                <tr>

                    <td>8</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>



                <tr>

                    <td>9</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>



                <tr>

                    <td>10</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>
                    <td>[PLACEHOLDER]</td>


                </tr>

                
    
                
            </table>

        </section>


    </div>



    <div class="footer">

        <p>Made by BVIS students</p>

    </div>

</body>
</html>