<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    
    <link rel="stylesheet" href="/css/mainUser.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
    
    
</head>
<body>
    <header class="header">

        <nav class="nav_bar">
            <ul class="menu">
                <li class="home">
                
                    <a href="/api/v1/home">
                        <p class="underline-text-small">Home</p>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/api/v1/home#celebrate-pi-day">
                                <p class="underline-text-small">Celebrate Pi Day</p>
                            </a> 
                        </li>
                        <li>
                            <a href="/api/v1/home#what-is-pi">
                                <p class="underline-text-small">What is <span class="pi">&pi;</span></p>
                            </a>
                        </li>
                        <li>
                            <a class="bottom_li" href="https://www.piday.org/">
                                <p class="underline-text-small">More About Pi Day</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li><a href="/api/v1/instruction">
                        <p class="underline-text-small">Quiz</p>
                    </a>
                </li>
                <li class = "account" id = "account">
                    <a href="/api/v1/sign-in" class = "account-link" id = "account-link"><span class="material-symbols-outlined account-logo underline-text-small" id = "account-logo">account_circle</span></a>
                    <ul class = "account-menu" id = "account-menu">
                        <li><a href="/api/v1/sign-in" class = "underline-text-small">Sign In</a></li>
                        <li><a href="/api/v1/register" class = "underline-text-small">Register</a></li>
                    </ul>
                </li>

            </ul>

        </nav>

       

    </header>

    <main  class="bg layer">

        <div class = "timer"></div>
      

        <section class="container">

            <p class="title_1">
                Enter as many numbers as you can remember, good luck!
            </p>

            <form action="/api/v1/result/done" method = "POST">

                <textarea class="content" id="" cols="30" rows="10" placeholder="Enter your number here" required></textarea>

                <br>

                <input type= "submit" class="submit" required>


            </form>


        </section>
        
            <div class="instruction">
                <h1 class = "instruction-title">Good Luck!</h1>
                
                
                <button class="start-quiz" type="submit">Start</button>
            




            </div>
        
        

    </main>
    <div id="overlay" class="overlay">
        <div class="centered-message">
          Please do not navigate away from the test.
        </div>
    </div>

        

   
    


        <footer class="footer">

            <p>Made by BVIS students</p>

        </footer>
    
    <script type = "module" src = "/js/test.js"></script>
    
    

    
</body>
</html>