main.home{
  overflow: hidden;
  
  padding: 0;
  height: auto;
  position: relative;
}
.banner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title_1{
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.pi_symbol_title_1{
  font-size: 100px;
  font-family: 'Times New Roman';
  
}

.pi{
  font-size: 30px;
  font-family: 'Times New Roman';
}

.highlight{
  font-weight: 600;
}

.desc_1{
  color: white ;
  text-align: center;
  width: 55%;
  height: auto;
  font-size: 20px;
  
  font-weight: 500;
}


.spacer_1{
  aspect-ratio: 1200/560;
  width: 100%;
  margin-top: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.layer_1{
  background-image: url('/images/layered-waves-haikei.svg');
}











.title_2{
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  
}

.pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 50px;

}

.desc_2{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
  width: 70%;
  position: center;
  font-weight: 500;
  margin-left: 15vw;

}

.spacer_3{
  
  width: 100%;
  position: relative;
  
  aspect-ratio: 1439/600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 5vh;
}

.layer_3{
  background-image: url('/images/wave3.svg');
}



.flip{

  aspect-ratio: 1439/600;
  width: 100%;
  
  transform: rotate(180deg);
  position: absolute;
  z-index: 5;
  bottom: 0;
 
  clip-path: inset(0 0 45vh 0);
  

}
.blob{
  position: absolute;
  z-index: 10;
}

.pi-info{
  position: relative;
  z-index: 15;
  bottom: 45%;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}





.footer{
    display: block;
    width: 100vw;
    height: 20vh;
    background-color:  rgb(96, 100, 238);
    margin: 0;
   
}

.footer p{
    font-weight: bolder;
    color: white;
    margin-top: 8vh;
    font-size: 20px;
    text-align: center;

}

@media only screen and (min-device-width: 600px) and (max-device-width: 799px){
  

.pi_symbol_title_1{
    font-size: 100px;
    font-family: 'Times New Roman';
    
  }
  
.pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 50px;
}


  
  .spacer_1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 600/600;
  }

  .banner{
    width: 85%;
  }

  .banner p{
    margin-top: 5vh;
    width: 100%;
  }


  .spacer_3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 600/600;

  }

  .pi-info{
    width: 85%;
    margin-top: 90vh;

  }



.title_2{
  color: white;
  font-size: 35px;
  text-align: center;
  font-weight: bolder;
  
}


.desc_2{
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 2vh;
  width: 70%;
  position: center;
  font-weight: 500;

}

.blob{
  position: absolute;
  z-index: 10;
  margin-top: 10vh;
}



}

@media only screen and (min-device-width: 800px) and (max-device-width: 1023px){


.pi_symbol_title_1{
  font-size: 100px;
  font-family: 'Times New Roman';
  
}

.pi_symbol_title_2{
font-family: 'Times New Roman';
font-size: 50px;
}



.spacer_1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  aspect-ratio: 800/600;
}

.banner{
  margin-top: -20vh;
  width: 85%;
}

.banner p{
  margin-top: 5vh;
  width: 100%;
}

.spacer_3{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  aspect-ratio: 800/600;

}

.pi-info{
  width: 85%;
  margin-top: 70vh;

}



.title_2{
color: white;
font-size: 45px;
text-align: center;
font-weight: bolder;

}


.desc_2{
color: white;
font-size: 20px;
text-align: center;
margin-top: 2vh;
width: 70%;
position: center;
font-weight: 500;

}

.blob{
position: absolute;
z-index: 10;
margin-top: 15vh;
}


}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {

  .pi_symbol_title_1{
    font-size: 100px;
    font-family: 'Times New Roman';
    
  }
  
  .pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 50px;
  }
  
  
  
  .spacer_1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1024/600;
  }
  
  .banner{
    margin-top: -10vh;
    width: 85%;
  }
  
  .banner p{
    margin-top: 5vh;
    width: 100%;
  }
  
  .spacer_3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1024/600;
  
  }


  
  .pi-info{
    width: 85%;
    margin-top: 70vh;
  
  }
  
  
  
  .title_2{
  color: white;
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  
  }
  
  
  .desc_2{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 2vh;
  width: 70%;
  position: center;
  font-weight: 500;
  
  }
  
  .blob{
  position: absolute;
  z-index: 10;
  margin-top: 15vh;
  }
  
  
  }
 


@media only screen and (min-device-width: 1281px) and (max-device-width: 1439px) {


  .pi_symbol_title_1{
    font-size: 100px;
    font-family: 'Times New Roman';
    
  }
  
  .pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 50px;
  }
  
  
  
  .spacer_1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1281/600;
  }
  
  .banner{
    width: 85%;
  }
  
  .banner p{
    margin-top: 5vh;
    width: 100%;
  }
  
  .spacer_3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1281/600;
  
  }


  
  .pi-info{
    width: 85%;
    margin-top: 80vh;
  
  }
  
  
  
  .title_2{
  color: white;
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  
  }
  
  
  .desc_2{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 2vh;
  width: 70%;
  position: center;
  font-weight: 500;
  
  }
  
  .blob{
  position: absolute;
  z-index: 10;
  margin-top: 20vh;
  }
 

} 


@media only screen and (min-device-width: 1440px) and (max-device-width: 1919px) {

  .pi_symbol_title_1{
    font-size: 120px;
    font-family: 'Times New Roman';
    
  }
  
  .pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 75px;
  }
  
  .pi{
    font-size: 40px;
  }
  
  
  .spacer_1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1439/800;
  }
  
  .banner{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  
  .banner p{
    margin-top: 5vh;
    width: 100%;
  }

  .title_1{
    font-size: 75px;

  }

  .desc_1{
    font-size: 30px;

  }
  
  .spacer_3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1439/800;
  
  }


  
  .pi-info{
    width: 85%;
    margin-top: 80vh;
  
  }
  
  
  
  .title_2{
  color: white;
  font-size: 55px;
  text-align: center;
  font-weight: bolder;
  
  }
  
  
  .desc_2{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 2vh;
  width: 70%;
  position: center;
  font-weight: 500;
  
  }
  
  .blob{
  position: absolute;
  z-index: 10;
  margin-top: 20vh;
  }
 


}



@media only screen and (min-device-width: 1920px){

  
  .pi_symbol_title_1{
    font-size: 120px;
    font-family: 'Times New Roman';
    
  }
  
  .pi_symbol_title_2{
  font-family: 'Times New Roman';
  font-size: 75px;
  }
  
  .pi{
    font-size: 40px;
  }
  
  
  .spacer_1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1920/800;
  }
  
  .banner{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  
  .banner p{
    margin-top: 5vh;
    width: 100%;
  }

  .title_1{
    font-size: 75px;

  }

  .desc_1{
    font-size: 30px;

  }
  
  .spacer_3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1920/800;
  
  }


  
  .pi-info{
    width: 85%;
    margin-top: 80vh;
  
  }
  
  
  
  .title_2{
  color: white;
  font-size: 55px;
  text-align: center;
  font-weight: bolder;
  
  }
  
  
  .desc_2{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 2vh;
  width: 70%;
  position: center;
  font-weight: 500;
  
  }
  
  .blob{
  position: absolute;
  z-index: 10;
  margin-top: 20vh;
  }
 

}