


.pi{
    font-size: 30px;
    font-family: 'Times New Roman';
  }
  








  .bg{
    z-index: -1;
    aspect-ratio: 1439/730;
    width: 100%;
    margin-top: 10vh;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  .layer{
    background-image: url('/images/low-poly-grid-haikei.svg');
  }




.container{
    display: block;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 25%;
    height: auto;
    padding: 4rem 1rem 4rem 1rem;



    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.title_1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;

}

.name, .class, .email, .status{
    color: white;
    font-size: 19px;
    margin-top: 2rem;
}

.highlight{
    font-weight: 600;
}



.footer{
    position: absolute;
    width: 100vw;
    height: 20vh;
    background-color:  rgb(96, 100, 238);
}

.footer p{
    font-weight: bolder;
    color: white;
    margin-top: 8vh;
    font-size: 20px;
    text-align: center;

}