* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* DELETE */

.pi{
    font-size: 30px;
    font-family: 'Times New Roman';
  }
  
.bg{
    
    aspect-ratio: 1439/730;
    width: auto;
    margin-top: 10vh;
    height: auto;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .layer{
    background-image: url('/images/low-poly-grid-haikei.svg');
  }


  .container {
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 85vh;
    background-color: rgb(55, 40, 93);
    padding-bottom: 3rem;
    border: none;
    margin-top: -2.5vh;
    
  }




 .table-section{
  border: none;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  width: 95%;
  height: 85%;
  overflow-y: scroll;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Set the color of the scroll bar */
} 

/* For WebKit based browsers (Chrome, Safari) */
.table-section::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.table-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Set the color of the scrollbar thumb */
}

.table-section::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Set the color of the scrollbar track */
}

.table_header {
  display: inline-flex;
  border: none;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-color: rgb(112, 66, 205);
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: 30px;
  font-weight: 700;

 
  
}


.table_header p {
  width: 30%;
  margin-top: 0.75vh;
  margin-left: 2rem;
  color: white;
  /* line-height: -8; */
}




/* .search_bar_container {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(248, 230, 253);
  padding: 0.25rem 3rem 0.8rem 0.75rem;
  width: 25%;
  height: 45px;
  margin-left: 34vw;
  border-radius: 40px;
  line-height: 1.2;
  transition: width 0.3s, transform 0.3s;
}

.search_bar input{
  width: 16.5vw;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0 0 0 0.5rem;
  padding: 0 0 0 -1rem;
  font-size: 17px;

} 

.search_bar button{
  position: absolute;
  z-index: 2;
  border: none;
  width: 3%;
  height: auto;
  background-color: transparent;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.search_bar button img{
  width: 30px;
  height: auto;
  position: absolute;
  

} */



.sort_id, .sort_name, .sort_class, .sort_no__pi_correct {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: white;
  vertical-align: middle;

}

.material-symbols-outlined{
  margin-top: -0.5vh;
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  transition: transform 0.3s;
}

.toggle-sort-checkbox {
  display: none; /* Hide the checkbox */
}

/* .toggle-sort-checkbox:checked + .sort_id .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_name .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_class .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_no__pi_correct .material-symbols-outlined {
  transform: rotate(180deg);
} */

.rotated{
  transform: rotate(180deg);

}


table {
  border: none;
  background-color: rgb(200, 183, 244);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Ensure there is no spacing between cells */
}


table thead th {
  font-size: 20px;
  padding: 1.5rem 1.5rem 1.5em 1.5rem;
  position: sticky;
  z-index: 0;
  top: 0; /* Ensures the table header sticks to the top of the table */
  background-color: rgb(99, 59, 160); /* Background color for the table header */
  color: white; /* Text color for the table header */
  
  
}



table tbody td {
  padding: 1.5rem 1.7rem 1.5rem 1.5rem;
  font-size: 18px;
  text-align: center;
  font-weight: 500;

  
}

tbody tr:nth-child(even){
  background-color:rgb(180, 159, 233) ;
}

tbody tr:hover{
background-color:rgb(153, 130, 209);

}






/* for laptop 1920px wide */
@media (min-width:1920px){
      
.bg{
    
  aspect-ratio: 1920/1080;
  width: auto;
  margin-top: 10vh;
  height: auto;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}


  .container {
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 75vh;
    background-color: rgb(55, 40, 93);
    padding-bottom: 3rem;
    border: none;
    margin-top: -5vh;
    
  }


  .table_header {
    display: inline-flex;
    border: none;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
    background-color: rgb(112, 66, 205);
    width: 100%;
    padding: 3rem 1.5rem 3rem 1.5rem;
  
    font-size: 30px;
    font-weight: 700;
  
   
    
  }
  

  .table_header p {
    width: 40%;
    margin-top: 0.75vh;
    margin-left: 2rem;
    color: white;
    font-size: 45px;
    /* line-height: -8; */
  }
  
  .pi {
    font-size: 40px;
  }

  
  
  
  
  /* .search_bar_container {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(248, 230, 253);
    padding: 0.25rem 3rem 0.8rem 0.75rem;
    width: 25%;
    height: 45px;
    margin-left: 34vw;
    border-radius: 40px;
    line-height: 1.2;
    transition: width 0.3s, transform 0.3s;
  }
  
  .search_bar input{
    width: 16.5vw;
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0 0 0 0.5rem;
    padding: 0 0 0 -1rem;
    font-size: 17px;
  
  } 
  
  .search_bar button{
    position: absolute;
    z-index: 2;
    border: none;
    width: 3%;
    height: auto;
    background-color: transparent;
    margin-top: 1vh;
    margin-left: 0.5vw;
  }
  
  .search_bar button img{
    width: 30px;
    height: auto;
    position: absolute;
    
  
  } */
  
  
  
  .sort_id, .sort_name, .sort_class, .sort_no__pi_correct {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
    vertical-align: middle;
  
  }
  
  .material-symbols-outlined{
    margin-top: -0.5vh;
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
    transition: transform 0.3s;
  }
  
  .toggle-sort-checkbox {
    display: none; /* Hide the checkbox */
  }
  
  /* .toggle-sort-checkbox:checked + .sort_id .material-symbols-outlined,
  .toggle-sort-checkbox:checked + .sort_name .material-symbols-outlined,
  .toggle-sort-checkbox:checked + .sort_class .material-symbols-outlined,
  .toggle-sort-checkbox:checked + .sort_no__pi_correct .material-symbols-outlined {
    transform: rotate(180deg);
  } */
  
  .rotated{
    transform: rotate(180deg);
  
  }
  
  
  table {
    border: none;
    background-color: rgb(200, 183, 244);
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; /* Ensure there is no spacing between cells */
  }
  
  
  table thead th {
    font-size: 30px;
    padding: 2.25rem 1.5rem 1.5em 1.5rem;
    position: sticky;
    z-index: 0;
    top: 0; /* Ensures the table header sticks to the top of the table */
    background-color: rgb(99, 59, 160); /* Background color for the table header */
    color: white; /* Text color for the table header */
    
    
  }
  
  
  
  table tbody td {
    padding: 2rem 1.7rem 2rem 1.5rem;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  
    
  }
  
  tbody tr:nth-child(even){
    background-color:rgb(180, 159, 233) ;
  }
  
  tbody tr:hover{
  background-color:rgb(153, 130, 209);
  
  }
  
  
  
 
  

}


/* laptop L 1440px-930px */
@media (min-width:1440px) and (max-width:1919){




  .bg{
    
    aspect-ratio: 1440/930;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }



  .container {
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 65vh;
    background-color: rgb(55, 40, 93);
    padding-bottom: 3rem;
    border: none;
    margin-top: -10vh;
    
  }




 .table-section{
  border: none;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  width: 95%;
  height: 85%;
  overflow-y: scroll;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Set the color of the scroll bar */
} 

/* For WebKit based browsers (Chrome, Safari) */
.table-section::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.table-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Set the color of the scrollbar thumb */
}

.table-section::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Set the color of the scrollbar track */
}

.table_header {
  display: inline-flex;
  border: none;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-color: rgb(112, 66, 205);
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: 30px;
  font-weight: 700;

 
  
}


.table_header p {
  width: 40%;
  margin-top: 0.75vh;
  margin-left: 2rem;
  color: white;
  /* line-height: -8; */
}




/* .search_bar_container {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(248, 230, 253);
  padding: 0.25rem 3rem 0.8rem 0.75rem;
  width: 25%;
  height: 45px;
  margin-left: 34vw;
  border-radius: 40px;
  line-height: 1.2;
  transition: width 0.3s, transform 0.3s;
}

.search_bar input{
  width: 16.5vw;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0 0 0 0.5rem;
  padding: 0 0 0 -1rem;
  font-size: 17px;

} 

.search_bar button{
  position: absolute;
  z-index: 2;
  border: none;
  width: 3%;
  height: auto;
  background-color: transparent;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.search_bar button img{
  width: 30px;
  height: auto;
  position: absolute;
  

} */



.sort_id, .sort_name, .sort_class, .sort_no__pi_correct {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: white;
  vertical-align: middle;

}

.material-symbols-outlined{
  margin-top: -0.5vh;
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  transition: transform 0.3s;
}

.toggle-sort-checkbox {
  display: none; /* Hide the checkbox */
}

/* .toggle-sort-checkbox:checked + .sort_id .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_name .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_class .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_no__pi_correct .material-symbols-outlined {
  transform: rotate(180deg);
} */

.rotated{
  transform: rotate(180deg);

}


table {
  border: none;
  background-color: rgb(200, 183, 244);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Ensure there is no spacing between cells */
}


table thead th {
  font-size: 20px;
  padding: 1.5rem 1.5rem 1.5em 1.5rem;
  position: sticky;
  z-index: 0;
  top: 0; /* Ensures the table header sticks to the top of the table */
  background-color: rgb(99, 59, 160); /* Background color for the table header */
  color: white; /* Text color for the table header */
  
  
}



table tbody td {
  padding: 1.5rem 1.7rem 1.5rem 1.5rem;
  font-size: 18px;
  text-align: center;
  font-weight: 500;

  
}

tbody tr:nth-child(even){
  background-color:rgb(180, 159, 233) ;
}

tbody tr:hover{
background-color:rgb(153, 130, 209);

}



.footer{
    position: absolute;
    width: 100vw;
    height: 20vh;
    background-color:  rgb(96, 100, 238);
}

.footer p{
    font-weight: bolder;
    color: white;
    margin-top: 8vh;
    font-size: 20px;
    text-align: center;

}


}

/* laptop 1024px-698px */
@media (min-width:1024px) and (max-width:1439px){
    
.bg{
    
  aspect-ratio: 1024/698;
  width: auto;
  margin-top: 10vh;
  height: auto;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}


  .container {
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 75vh;
    background-color: rgb(55, 40, 93);
    padding-bottom: 3rem;
    border: none;
    margin-top: -5vh;
    
  }




 .table-section{
  border: none;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
  width: 95%;
  height: 85%;
  overflow-y: scroll;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Set the color of the scroll bar */
} 

/* For WebKit based browsers (Chrome, Safari) */
.table-section::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.table-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Set the color of the scrollbar thumb */
}

.table-section::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Set the color of the scrollbar track */
}

.table_header {
  display: inline-flex;
  border: none;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-color: rgb(112, 66, 205);
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: 30px;
  font-weight: 700;

 
  
}


.table_header p {
  width: 40%;
  margin-top: 0.75vh;
  margin-left: 2rem;
  color: white;
  font-size: 25px;
  /* line-height: -8; */
}




/* .search_bar_container {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(248, 230, 253);
  padding: 0.25rem 3rem 0.8rem 0.75rem;
  width: 25%;
  height: 45px;
  margin-left: 34vw;
  border-radius: 40px;
  line-height: 1.2;
  transition: width 0.3s, transform 0.3s;
}

.search_bar input{
  width: 16.5vw;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0 0 0 0.5rem;
  padding: 0 0 0 -1rem;
  font-size: 17px;

} 

.search_bar button{
  position: absolute;
  z-index: 2;
  border: none;
  width: 3%;
  height: auto;
  background-color: transparent;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.search_bar button img{
  width: 30px;
  height: auto;
  position: absolute;
  

} */



.sort_id, .sort_name, .sort_class, .sort_no__pi_correct {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: white;
  vertical-align: middle;

}

.material-symbols-outlined{
  margin-top: -0.5vh;
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  transition: transform 0.3s;
}

.toggle-sort-checkbox {
  display: none; /* Hide the checkbox */
}

/* .toggle-sort-checkbox:checked + .sort_id .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_name .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_class .material-symbols-outlined,
.toggle-sort-checkbox:checked + .sort_no__pi_correct .material-symbols-outlined {
  transform: rotate(180deg);
} */

.rotated{
  transform: rotate(180deg);

}


table {
  border: none;
  background-color: rgb(200, 183, 244);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Ensure there is no spacing between cells */
}


table thead th {
  font-size: 16px;
  padding: 1.5rem 1.5rem 1.5em 1.5rem;
  position: sticky;
  z-index: 0;
  top: 0; /* Ensures the table header sticks to the top of the table */
  background-color: rgb(99, 59, 160); /* Background color for the table header */
  color: white; /* Text color for the table header */
  
  
}



table tbody td {
  padding: 1.5rem 1.7rem 1.5rem 1.5rem;
  font-size: 16px;
  text-align: center;
  font-weight: 500;

  
}

tbody tr:nth-child(even){
  background-color:rgb(180, 159, 233) ;
}

tbody tr:hover{
background-color:rgb(153, 130, 209);

}



.footer{
    position: absolute;
    width: 100vw;
    height: 20vh;
    background-color:  rgb(96, 100, 238);
}

.footer p{
    font-weight: bolder;
    color: white;
    margin-top: 8vh;
    font-size: 20px;
    text-align: center;
} 

}




