*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

main{
  overflow: scroll;
}




.nav_bar {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 50;
  }
  
  .nav_bar ul {
    background-color: rgb(96, 100, 238);
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: left;
  }
  
  .nav_bar ul li {
    display: inline-table;
    line-height: 10vh;
    width: 23vw;
    height: auto;
    position: relative;
  }
  
  .nav_bar ul li:hover {
    background-color: rgb(67, 72, 197);
    transition: background-color 1s;
  }
  
  .nav_bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }
  
  .nav_bar ul li .sub-menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    position: absolute;
    top: 100%; /* Add this line to position the submenu below the main menu item */
    left: 0; /* Add this line to align the submenu with the main menu item */
  }

  
  .nav_bar ul li:hover .sub-menu {
    height: auto;
    opacity: 1;
    display: block;
    z-index: 99;
    background-color: rgb(238, 96, 157);
    border-radius: 0 0 50px 50px;
    
  }





  .nav_bar ul li:hover .bottom-li {
      display: block;
      z-index: 99;
      background-color: rgb(238, 96, 157);
      transition: 0.4s;

     
    }

  
.sub-menu li a:hover {
    transition: 0.4s;
    background-color: rgb(212, 87, 141);
  
}

.sub-menu li:last-child {
  border-radius: 0 0 50px 50px; /* Rounded bottom corners */
}

.sub-menu li:last-child a {
  border-bottom-left-radius: 50px; /* Rounded bottom-left corner */
  border-bottom-right-radius: 50px; /* Rounded bottom-right corner */
}
#log-out{
  cursor: pointer;
}







.underline-text-small{
    position: relative;
    color: white;

}

  
.underline-text-small:hover {
    color: white;
  }
  
.underline-text-small::before {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 0.25vh;
    left: 8vw;
    top: 7vh;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease;

}
  
.underline-text-small:hover::before {
    transform: scaleX(1);
}

#account{
  margin-left: auto;
  
}

#account-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  line-height: 10vh;
  
  transition: background-color 1s;
}

#account-logo:hover{
  background-color: rgb(67, 72, 197);
}


#account-link:hover + #account-menu{
  display: flex;
  background-color: rgb(238, 96, 157);
  border-radius: 0 0 50px 50px;
  height: auto;
  opacity: 1;
}

#account-menu{
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  background-color: rgb(238, 96, 157);
  
}

#account-menu:hover{
  
  
  border-radius: 0 0 50px 50px;
  height: auto;
  opacity: 1;
  
}

#account-menu li a{
  background-color: rgb(238, 96, 157);
  font-size: 1rem;
  transition: 0.4s;
}

#account-menu li a:hover{
  background-color: rgb(212, 87, 141);
}






@media (min-width:1024px) and (max-width:1430px){

  .nav_bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 15px;
  }

  #account-menu li a{
    background-color: rgb(238, 96, 157);
    font-size: 15px;
    transition: 0.4s;
  }

}

@media (min-width:1431px) and (max-width:1919px){

  .nav_bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  #account-menu li a{
    background-color: rgb(238, 96, 157);
    font-size: 20px;
    transition: 0.4s;
  }

  




}


@media (min-width:1920px){
  .nav_bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 27px;
  }


  
  #account-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 0.25vh;
    line-height: 9.5vh;
    transition: background-color 1s;
  }
  
  
  
  #account-menu li a{
    background-color: rgb(238, 96, 157);
    font-size: 27px;
    transition: 0.4s;
  }

}

