main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.timer{
  float: right;
  margin-right: 3vw;
  color: white;
  border: 3px solid white;
  background-color: rgb(134, 42, 254);
  border-radius: 2rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  margin-top: 2vh;
  display: none;
}


.pi{
    font-size: 30px;
    font-family: 'Times New Roman';
  }


.title_1{
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5vh;

}


.container{ 
  margin-top: 5vh;
  text-align: center;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  backdrop-filter:blur(30px) ;
  width: 50%;
  padding: 10vh 3vw 10vh 3vw;



  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  
  }


.container form textarea{
    resize: none;
    color: white;
    font-size: 17px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    width: 90%;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 6px;
    outline-width: 0;
}

::placeholder{
    color: white;
}






.submit{
  margin-top: 5vh;
    margin-bottom: 2vh;
    width: 45%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
    font-size: 17px;
    font-weight: bold;
}

.submit:hover{
    background-color: white;
    color: rgb(156, 80, 255);
    transition: 0.5s;


}








.instruction{
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(150px);
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  
  


}


.instruction-title{
  text-align: center;
  font-size: 30px;
  font-weight:800;
  color: rgb(83, 83, 83);
  margin-bottom: 4vh;
}


.instruction ul {
  margin-left: 3vw;
  text-align: left;
  list-style-type: none;
}

.instruction ul li{
  font-weight: 500;
  font-size: 17px;
  color: rgb(114, 114, 114);
  margin-bottom: 3vh;
}





.start-quiz {
background-color:rgb(79, 79, 79);
border: none;
color: white;
text-decoration: none;
width: 14vw;
height: 5vh;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
font-size: 23px;
transition: 0.4s;

}

.start-quiz:hover{
animation: wiggle 2s linear infinite;
  transition: 0.4s;
  background-color: white;
  color:  rgb(79, 79, 79);



}


.pi{
font-size: 30px;
font-family: 'Times New Roman';
}



/* Keyframes */
@keyframes wiggle {
0%, 7% {
  transform: rotateZ(0);
}
15% {
  transform: rotateZ(-15deg);
}
20% {
  transform: rotateZ(10deg);
}
25% {
  transform: rotateZ(-10deg);
}
30% {
  transform: rotateZ(6deg);
}
35% {
  transform: rotateZ(-4deg);
}
40%, 100% {
  transform: rotateZ(0);
}
}












  .bg{
    
    aspect-ratio: 1439/710;
    width: 100%;
    margin-top: 7vh;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
  }
  
  .layer{
    background-image: url('/images/stacked1.svg');
  }

  .footer{
    margin-top: -5vh;
    position: absolute;
    width: 100vw;
    height: 20vh;
    background-color:  rgb(96, 100, 238);
}

.footer p{
    font-weight: bolder;
    color: white;
    margin-top: 8vh;
    font-size: 20px;
    text-align: center;

}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(5px); 
  display: none; 
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
}


.centered-message {
  text-align: center;
  font-size: 2.5rem;
}









